# Merging all users

In [1]:
import pandas as pd
import os

In [2]:
path1="./DataSet/testset/"
path2="./DataSet/trainset/"
path3="./DataSet/validationset/"

In [3]:
#Taking testset
path11=path1+"UGE/"
path12=path1+"UBE/"
#list of good 
lg=([entry for entry in os.listdir(path11) if os.path.isfile(os.path.join(path11, entry))])
#list of bad 
lb=([entry for entry in os.listdir(path12) if os.path.isfile(os.path.join(path12, entry))])

In [4]:
dftest = pd.DataFrame()
for i in lg:
    p=path11+str(i)
    tempdf=pd.read_csv(p)
#     tempdf["specifictime"]=pd.to_datetime(tempdf["specifictime"])
#     tempdf=tempdf.groupby("specifictime").mean()
#     tempdf=tempdf.groupby(pd.Grouper(freq='H')).mean()
    usertype=[1]*len(tempdf)
    userid=[i[4:-4]]*len(tempdf)
    #print(userid)
    identifier=[i[:-4]+"_UGE"]*len(tempdf)
    tempdf["id"]=userid
    tempdf["type"]=usertype
    tempdf["key"]=identifier
    frames=[dftest,tempdf]
    dftest = pd.concat(frames)
for i in lb:
    p=path12+str(i)
    tempdf=pd.read_csv(p)
#     tempdf["specifictime"]=pd.to_datetime(tempdf["specifictime"])
#     tempdf=tempdf.groupby("specifictime").mean()
#     tempdf=tempdf.groupby(pd.Grouper(freq='H')).mean()
    #print(i,len(tempdf),len(dftest))
    usertype=[0]*len(tempdf)
    userid=[i[4:-4]]*len(tempdf)
    identifier=[i[:-4]+"_UBE"]*len(tempdf)
    tempdf["id"]=userid
    tempdf["type"]=usertype
    tempdf["key"]=identifier
    frames=[dftest,tempdf]
    dftest = pd.concat(frames)

In [5]:
dftest

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,18,2021-06-10 18:04:59,13.00,4.50,5.50,13.00,9.0,13.0,0.1071,0.0000,201,1,user201_UGE
1,2021-06-10,18,2021-06-10 18:04:59,14.00,5.00,1.00,14.00,4.0,15.0,0.0000,0.0000,201,1,user201_UGE
2,2021-06-10,18,2021-06-10 18:04:59,9.17,30.00,1.52,9.30,62.0,9.0,0.0009,0.0000,201,1,user201_UGE
3,2021-06-10,18,2021-06-10 18:04:59,11.00,6.50,1.50,11.00,4.0,11.0,0.0755,0.0000,201,1,user201_UGE
4,2021-06-10,18,2021-06-10 18:04:59,17.80,18.40,5.20,260.36,37.0,23.0,0.0109,0.0016,201,1,user201_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5313,2021-06-16,23,2021-06-16 23:54:59,4.33,3.67,1.00,4.33,2.0,4.0,0.0000,0.0000,250,0,user250_UBE
5314,2021-06-16,23,2021-06-16 23:59:59,5.00,1.00,17.00,5.00,6.0,5.0,0.0000,0.0000,250,0,user250_UBE
5315,2021-06-16,23,2021-06-16 23:59:59,0.00,0.00,0.00,0.00,0.0,0.0,0.0000,0.0000,250,0,user250_UBE
5316,2021-06-16,23,2021-06-16 23:59:59,24.60,27.80,16.60,24.50,20.0,24.0,0.0833,0.0000,250,0,user250_UBE
5317,2021-06-16,23,2021-06-16 23:59:59,4.00,3.50,1.75,4.00,3.0,4.0,0.0000,0.0000,250,0,user250_UBE

In [6]:
#Taking trainset change path in all 4
path21=path2+"UGE/"
path22=path2+"UBE/"
#list of good 
lg=([entry for entry in os.listdir(path21) if os.path.isfile(os.path.join(path21, entry))])
#list of bad 
lb=([entry for entry in os.listdir(path22) if os.path.isfile(os.path.join(path22, entry))])

In [7]:
dftrain = pd.DataFrame()
for i in lg:
    #change path
    p=path21+str(i)
    tempdf=pd.read_csv(p)
#     tempdf["specifictime"]=pd.to_datetime(tempdf["specifictime"])
#     tempdf=tempdf.groupby("specifictime").mean()
#     tempdf=tempdf.groupby(pd.Grouper(freq='H')).mean()
    usertype=[1]*len(tempdf)
    userid=[i[4:-4]]*len(tempdf)
    identifier=[i[:-4]+"_UGE"]*len(tempdf)
    tempdf["id"]=userid
    tempdf["type"]=usertype
    tempdf["key"]=identifier
    #change df
    #print(userid)
    frames=[dftrain,tempdf]
    dftrain = pd.concat(frames)
for i in lb:
    #change path
    p=path22+str(i)
    tempdf=pd.read_csv(p)
#     tempdf["specifictime"]=pd.to_datetime(tempdf["specifictime"])
#     tempdf=tempdf.groupby("specifictime").mean()
#     tempdf=tempdf.groupby(pd.Grouper(freq='H')).mean()
    usertype=[0]*len(tempdf)
    userid=[i[4:-4]]*len(tempdf)
    identifier=[i[:-4]+"_UBE"]*len(tempdf)
    tempdf["id"]=userid
    tempdf["type"]=usertype
    tempdf["key"]=identifier
    #change df
    frames=[dftrain,tempdf]
    dftrain = pd.concat(frames)

In [8]:
dftrain

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,18,2021-06-10 18:14:59,46.0,910.5,3.50,47.67,48.0,52.0,0.2745,0.0750,1,1,user1_UGE
1,2021-06-10,18,2021-06-10 18:14:59,0.0,0.0,0.00,0.00,0.0,0.0,0.0000,0.4286,1,1,user1_UGE
2,2021-06-10,18,2021-06-10 18:19:59,5.0,6.0,2.67,4.67,0.0,4.0,0.0000,0.0000,1,1,user1_UGE
3,2021-06-10,18,2021-06-10 18:19:59,46.0,1971.0,7.33,46.00,7.0,46.0,0.1000,0.0000,1,1,user1_UGE
4,2021-06-10,18,2021-06-10 18:24:59,25.0,3.0,9.00,25.00,3.0,48.0,0.0000,0.0000,1,1,user1_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,2021-06-16,23,2021-06-16 23:39:59,0.0,0.0,0.00,0.00,185.0,24.0,0.0000,0.0000,99,0,user99_UBE
3521,2021-06-16,23,2021-06-16 23:44:59,0.0,0.0,0.00,0.00,233.0,27.0,0.0000,0.0000,99,0,user99_UBE
3522,2021-06-16,23,2021-06-16 23:49:59,0.0,0.0,0.00,0.00,223.0,30.0,0.0000,0.0000,99,0,user99_UBE
3523,2021-06-16,23,2021-06-16 23:54:59,0.0,0.0,0.00,0.00,289.0,24.0,0.0000,0.0000,99,0,user99_UBE
3524,2021-06-16,23,2021-06-16 23:59:59,0.0,0.0,0.00,0.00,228.0,25.0,0.1250,0.0000,99,0,user99_UBE

In [9]:
#Taking validation set change path in all 4
path31=path3+"UGE/"
path32=path3+"UBE/"
#list of good 
lg=([entry for entry in os.listdir(path31) if os.path.isfile(os.path.join(path31, entry))])
#list of bad 
lb=([entry for entry in os.listdir(path32) if os.path.isfile(os.path.join(path32, entry))])

In [10]:
dfval = pd.DataFrame()
for i in lg:
    #change path
    p=path31+str(i)
    tempdf=pd.read_csv(p)
#     tempdf["specifictime"]=pd.to_datetime(tempdf["specifictime"])
#     tempdf=tempdf.groupby("specifictime").mean()
#     tempdf=tempdf.groupby(pd.Grouper(freq='H')).mean()
    usertype=[1]*len(tempdf)
    userid=[i[4:-4]]*len(tempdf)
    identifier=[i[:-4]+"_UGE"]*len(tempdf)
    tempdf["id"]=userid
    tempdf["type"]=usertype
    tempdf["key"]=identifier
    #change df
    frames=[dfval,tempdf]
    dfval = pd.concat(frames)
for i in lb:
    #change path
    p=path32+str(i)
    tempdf=pd.read_csv(p)
#     tempdf["specifictime"]=pd.to_datetime(tempdf["specifictime"])
#     tempdf=tempdf.groupby("specifictime").mean()
#     tempdf=tempdf.groupby(pd.Grouper(freq='H')).mean()
    usertype=[0]*len(tempdf)
    userid=[i[4:-4]]*len(tempdf)
    identifier=[i[:-4]+"_UBE"]*len(tempdf)
    tempdf["id"]=userid
    tempdf["type"]=usertype
    tempdf["key"]=identifier
    #change df
    frames=[dfval,tempdf]
    dfval = pd.concat(frames)

In [11]:
dftrain.to_parquet('train.parquet',compression='brotli')
dftest.to_parquet('test.parquet',compression='brotli')
dfval.to_parquet('val.parquet',compression='brotli')

In [12]:
dftrain

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,18,2021-06-10 18:14:59,46.0,910.5,3.50,47.67,48.0,52.0,0.2745,0.0750,1,1,user1_UGE
1,2021-06-10,18,2021-06-10 18:14:59,0.0,0.0,0.00,0.00,0.0,0.0,0.0000,0.4286,1,1,user1_UGE
2,2021-06-10,18,2021-06-10 18:19:59,5.0,6.0,2.67,4.67,0.0,4.0,0.0000,0.0000,1,1,user1_UGE
3,2021-06-10,18,2021-06-10 18:19:59,46.0,1971.0,7.33,46.00,7.0,46.0,0.1000,0.0000,1,1,user1_UGE
4,2021-06-10,18,2021-06-10 18:24:59,25.0,3.0,9.00,25.00,3.0,48.0,0.0000,0.0000,1,1,user1_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,2021-06-16,23,2021-06-16 23:39:59,0.0,0.0,0.00,0.00,185.0,24.0,0.0000,0.0000,99,0,user99_UBE
3521,2021-06-16,23,2021-06-16 23:44:59,0.0,0.0,0.00,0.00,233.0,27.0,0.0000,0.0000,99,0,user99_UBE
3522,2021-06-16,23,2021-06-16 23:49:59,0.0,0.0,0.00,0.00,223.0,30.0,0.0000,0.0000,99,0,user99_UBE
3523,2021-06-16,23,2021-06-16 23:54:59,0.0,0.0,0.00,0.00,289.0,24.0,0.0000,0.0000,99,0,user99_UBE
3524,2021-06-16,23,2021-06-16 23:59:59,0.0,0.0,0.00,0.00,228.0,25.0,0.1250,0.0000,99,0,user99_UBE

In [13]:
dftest

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,18,2021-06-10 18:04:59,13.00,4.50,5.50,13.00,9.0,13.0,0.1071,0.0000,201,1,user201_UGE
1,2021-06-10,18,2021-06-10 18:04:59,14.00,5.00,1.00,14.00,4.0,15.0,0.0000,0.0000,201,1,user201_UGE
2,2021-06-10,18,2021-06-10 18:04:59,9.17,30.00,1.52,9.30,62.0,9.0,0.0009,0.0000,201,1,user201_UGE
3,2021-06-10,18,2021-06-10 18:04:59,11.00,6.50,1.50,11.00,4.0,11.0,0.0755,0.0000,201,1,user201_UGE
4,2021-06-10,18,2021-06-10 18:04:59,17.80,18.40,5.20,260.36,37.0,23.0,0.0109,0.0016,201,1,user201_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5313,2021-06-16,23,2021-06-16 23:54:59,4.33,3.67,1.00,4.33,2.0,4.0,0.0000,0.0000,250,0,user250_UBE
5314,2021-06-16,23,2021-06-16 23:59:59,5.00,1.00,17.00,5.00,6.0,5.0,0.0000,0.0000,250,0,user250_UBE
5315,2021-06-16,23,2021-06-16 23:59:59,0.00,0.00,0.00,0.00,0.0,0.0,0.0000,0.0000,250,0,user250_UBE
5316,2021-06-16,23,2021-06-16 23:59:59,24.60,27.80,16.60,24.50,20.0,24.0,0.0833,0.0000,250,0,user250_UBE
5317,2021-06-16,23,2021-06-16 23:59:59,4.00,3.50,1.75,4.00,3.0,4.0,0.0000,0.0000,250,0,user250_UBE

In [14]:
dfval

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,17,2021-06-10 17:59:59,34.17,29.50,1.33,63.86,61.0,50.0,0.0000,0.0,151,1,user151_UGE
1,2021-06-10,17,2021-06-10 17:59:59,24.00,38.29,3.57,23.71,37.0,22.0,0.0000,0.0,151,1,user151_UGE
2,2021-06-10,17,2021-06-10 17:59:59,0.00,0.00,0.00,21.00,26.0,33.0,0.0000,0.0,151,1,user151_UGE
3,2021-06-10,18,2021-06-10 18:04:59,13.00,47.00,2.00,13.00,20.0,13.0,0.0000,0.0,151,1,user151_UGE
4,2021-06-10,18,2021-06-10 18:04:59,16.00,46.00,1.00,16.00,21.0,16.0,0.0000,0.0,151,1,user151_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24394,2021-06-16,23,2021-06-16 23:59:59,14.00,40.00,0.00,14.00,110.0,14.0,0.0000,0.0,200,0,user200_UBE
24395,2021-06-16,23,2021-06-16 23:59:59,14.88,72.13,0.50,14.50,145.0,14.0,0.0000,0.0,200,0,user200_UBE
24396,2021-06-16,23,2021-06-16 23:59:59,513.83,45.33,1.17,12.00,60.0,12.0,0.0303,0.0,200,0,user200_UBE
24397,2021-06-16,23,2021-06-16 23:59:59,12.50,42.00,0.50,12.50,22.0,12.0,0.0000,0.0,200,0,user200_UBE
24398,2021-06-16,23,2021-06-16 23:59:59,31.33,5.00,4.00,46.00,76.0,61.0,0.0000,0.0,200,0,user200_UBE

In [15]:
dftrain.corr().round(2)

,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
hour,1.00,0.00,-0.01,0.01,-0.00,0.01,0.00,-0.01,-0.03,0.00
indicator1,0.00,1.00,-0.00,0.01,0.01,-0.01,0.00,-0.01,0.02,-0.01
indicator2,-0.01,-0.00,1.00,0.02,0.00,0.06,0.00,0.05,0.02,0.01
indicator3,0.01,0.01,0.02,1.00,0.00,0.02,0.00,0.02,0.00,0.00
indicator4,-0.00,0.01,0.00,0.00,1.00,-0.01,-0.00,0.08,0.04,0.00
indicator5,0.01,-0.01,0.06,0.02,-0.01,1.00,0.01,0.22,-0.01,-0.01
indicator6,0.00,0.00,0.00,0.00,-0.00,0.01,1.00,0.01,-0.01,-0.00
indicator7,-0.01,-0.01,0.05,0.02,0.08,0.22,0.01,1.00,0.05,0.02
indicator8,-0.03,0.02,0.02,0.00,0.04,-0.01,-0.01,0.05,1.00,0.01
type,0.00,-0.01,0.01,0.00,0.00,-0.01,-0.00,0.02,0.01,1.00

# Removing outliers based on IQR

In [16]:
dftrain

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,18,2021-06-10 18:14:59,46.0,910.5,3.50,47.67,48.0,52.0,0.2745,0.0750,1,1,user1_UGE
1,2021-06-10,18,2021-06-10 18:14:59,0.0,0.0,0.00,0.00,0.0,0.0,0.0000,0.4286,1,1,user1_UGE
2,2021-06-10,18,2021-06-10 18:19:59,5.0,6.0,2.67,4.67,0.0,4.0,0.0000,0.0000,1,1,user1_UGE
3,2021-06-10,18,2021-06-10 18:19:59,46.0,1971.0,7.33,46.00,7.0,46.0,0.1000,0.0000,1,1,user1_UGE
4,2021-06-10,18,2021-06-10 18:24:59,25.0,3.0,9.00,25.00,3.0,48.0,0.0000,0.0000,1,1,user1_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,2021-06-16,23,2021-06-16 23:39:59,0.0,0.0,0.00,0.00,185.0,24.0,0.0000,0.0000,99,0,user99_UBE
3521,2021-06-16,23,2021-06-16 23:44:59,0.0,0.0,0.00,0.00,233.0,27.0,0.0000,0.0000,99,0,user99_UBE
3522,2021-06-16,23,2021-06-16 23:49:59,0.0,0.0,0.00,0.00,223.0,30.0,0.0000,0.0000,99,0,user99_UBE
3523,2021-06-16,23,2021-06-16 23:54:59,0.0,0.0,0.00,0.00,289.0,24.0,0.0000,0.0000,99,0,user99_UBE
3524,2021-06-16,23,2021-06-16 23:59:59,0.0,0.0,0.00,0.00,228.0,25.0,0.1250,0.0000,99,0,user99_UBE

In [17]:
#taking 4th and 96th percentile instead of 25 and 75 as 25,75 pair was identifying in large percent of data as outlier
#we wanted to remove only extreme values
def remove_outlier_IQR(df):
    Q1=df.quantile(0.04)
    Q3=df.quantile(0.96)
    IQR=Q3-Q1
    df_final=df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR)))]
    return df_final

In [18]:
dftrain_nooutlier=remove_outlier_IQR(dftrain)

C:\Users\303an\AppData\Local\Temp/ipykernel_27172/606670744.py:7: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df_final=df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR)))]

In [19]:
dftrain.describe().round(3)

,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
count,3687372.000,3687372.000,3687372.000,3687372.000,3687372.000,3687372.000,3687372.000,3687372.000,3687372.000,3687372.000
mean,13.398,81.581,189.419,135.837,164.480,47.459,21.817,0.022,0.017,0.495
std,6.809,1526.898,2037.408,1715.116,2925.861,100.903,321.152,0.055,0.066,0.500
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,8.000,4.400,3.000,0.640,4.500,5.000,8.000,0.000,0.000,0.000
50%,14.000,11.790,6.890,2.580,12.750,19.000,15.000,0.000,0.000,0.000
75%,20.000,22.500,39.000,8.220,24.000,49.000,25.000,0.014,0.000,1.000
max,23.000,487451.500,303685.000,432725.000,575323.000,2000.000,362002.000,0.500,0.500,1.000

In [20]:
dftrain_nooutlier.describe().round(3)

,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
count,3687372.000,3624561.000,3619966.000,3595646.000,3607177.000,3653435.000,3661023.000,3677421.000,3640465.000,3687372.000
mean,13.398,14.243,62.568,11.650,15.850,40.294,17.643,0.021,0.012,0.495
std,6.809,12.759,191.532,33.066,15.386,61.547,13.683,0.051,0.048,0.500
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,8.000,4.330,2.960,0.500,4.500,5.000,8.000,0.000,0.000,0.000
50%,14.000,11.500,6.500,2.500,12.310,18.000,15.000,0.000,0.000,0.000
75%,20.000,22.000,37.500,7.330,23.000,48.000,25.000,0.014,0.000,1.000
max,23.000,115.000,1836.940,362.500,137.500,505.000,117.000,0.384,0.402,1.000

## Percentage of outliers removed (resulted in NA values)

In [21]:
dftrain_nooutlier.isna().sum()/len(dftrain_nooutlier)*100

day             0.000000
hour            0.000000
specifictime    0.000000
indicator1      1.703408
indicator2      1.828023
indicator3      2.487571
indicator4      2.174855
indicator5      0.920357
indicator6      0.714574
indicator7      0.269867
indicator8      1.272098
id              0.000000
type            0.000000
key             0.000000
dtype: float64

In [22]:
dftrain.isna().sum()

day             0
hour            0
specifictime    0
indicator1      0
indicator2      0
indicator3      0
indicator4      0
indicator5      0
indicator6      0
indicator7      0
indicator8      0
id              0
type            0
key             0
dtype: int64

# Aggregating train, val and test data to make one user as one row based on mean and median

In [23]:
dftrainmed  = dftrain.groupby(['key']).median().reset_index()
dftestmed   =dftest.groupby(['key']).median().reset_index()
dfvalmed    =dfval.groupby(['key']).median().reset_index()
dftrainmean = dftrain.groupby(['key']).mean().reset_index()
dftestmean  =dftest.groupby(['key']).mean().reset_index()
dfvalmean   =dfval.groupby(['key']).mean().reset_index()

In [24]:
dftrainmed

,key,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
0,user100_UBE,13.0,16.000,11.500,4.500,18.000,25.0,18.0,0.0,0.0,0.0
1,user100_UGE,13.0,13.175,5.500,4.000,14.140,11.0,15.0,0.0,0.0,1.0
2,user101_UBE,15.0,15.500,9.595,3.830,17.000,26.0,20.0,0.0,0.0,0.0
3,user101_UGE,14.0,17.000,40.000,1.000,18.880,45.0,21.0,0.0,0.0,1.0
4,user102_UBE,14.0,12.850,7.000,6.000,13.805,13.0,18.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
295,user98_UGE,15.0,12.500,9.200,3.500,13.000,19.0,15.0,0.0,0.0,1.0
296,user99_UBE,11.0,0.000,0.000,0.000,0.000,177.0,25.0,0.0,0.0,0.0
297,user99_UGE,13.0,5.000,2.250,1.500,5.000,4.0,9.0,0.0,0.0,1.0
298,user9_UBE,14.0,17.500,4.000,3.500,19.290,8.0,21.0,0.0,0.0,0.0
299,user9_UGE,15.0,9.330,14.900,4.625,10.000,39.0,12.0,0.0,0.0,1.0

In [25]:
dftrainmean

,key,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
0,user100_UBE,13.042411,151.502513,132.977347,72.763036,210.835973,52.567790,34.139753,0.017464,0.013028,0.0
1,user100_UGE,12.642549,32.628629,697.689560,42.383170,144.392616,23.158201,17.189203,0.014773,0.013700,1.0
2,user101_UBE,13.555116,26.407141,65.057520,70.968274,85.394571,51.819182,29.926703,0.014382,0.015975,0.0
3,user101_UGE,13.377969,40.274751,113.558241,186.415576,221.460104,66.737184,24.769442,0.024212,0.008847,1.0
4,user102_UBE,13.587112,27.850301,40.048668,33.668333,27.442107,24.372691,20.750210,0.019280,0.022471,0.0
...,...,...,...,...,...,...,...,...,...,...,...
295,user98_UGE,14.197777,99.515069,100.814892,248.879188,98.446627,54.606562,77.793623,0.020383,0.020085,1.0
296,user99_UBE,11.433759,19.044621,16.321240,13.702210,49.941038,144.789787,24.123688,0.014273,0.009356,0.0
297,user99_UGE,12.600227,90.084837,12.969471,19.262756,91.181783,13.019956,12.077015,0.036404,0.004561,1.0
298,user9_UBE,14.103499,21.127582,83.507254,29.500564,406.779306,28.505770,24.403004,0.035517,0.026296,0.0
299,user9_UGE,13.922613,38.740357,194.552180,78.797349,29.017851,87.720441,37.382110,0.026242,0.016835,1.0

In [26]:
dftestmed

,key,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
0,user201_UBE,14.0,21.750,42.50,2.000,22.16,50.0,23.0,0.0,0.0,0.0
1,user201_UGE,15.0,14.000,19.00,2.085,15.75,24.0,16.0,0.0,0.0,1.0
2,user202_UBE,17.0,13.065,41.00,2.250,16.00,45.0,16.0,0.0,0.0,0.0
3,user202_UGE,12.0,13.000,9.66,1.500,14.40,38.0,21.0,0.0,0.0,1.0
4,user203_UBE,18.0,17.000,3.00,2.670,17.75,15.0,22.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95,user248_UGE,15.0,9.000,3.00,4.000,10.00,6.0,12.0,0.0,0.0,1.0
96,user249_UBE,16.0,12.500,10.00,3.000,12.50,18.0,14.0,0.0,0.0,0.0
97,user249_UGE,14.0,4.450,33.60,0.380,4.44,29.0,4.0,0.0,0.0,1.0
98,user250_UBE,18.0,10.330,2.83,3.000,10.67,4.0,11.0,0.0,0.0,0.0
99,user250_UGE,12.0,11.000,4.00,4.000,13.00,12.0,14.0,0.0,0.0,1.0

In [27]:
dftestmean

,key,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
0,user201_UBE,13.265162,25.345731,230.270630,80.930903,81.701298,128.678844,24.751313,0.019045,0.018539,0.0
1,user201_UGE,14.322520,54.707085,120.587049,136.074315,134.744167,72.375835,21.061401,0.019155,0.020119,1.0
2,user202_UBE,13.099180,37.735797,130.838073,58.779485,65.685586,81.460562,21.640277,0.019428,0.025522,0.0
3,user202_UGE,12.234105,89.690817,81.994151,42.552399,179.544373,78.846777,32.365259,0.010544,0.009643,1.0
4,user203_UBE,15.236731,25.365027,151.556583,276.740127,133.088155,66.971493,26.823928,0.026238,0.006841,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95,user248_UGE,13.864031,99.029282,74.468416,77.459849,135.088286,22.892308,15.271225,0.022715,0.029461,1.0
96,user249_UBE,14.487153,66.696588,94.760761,276.352984,239.103677,46.316544,48.329663,0.016714,0.014945,0.0
97,user249_UGE,12.884896,68.200728,104.778289,7.631940,36.643243,43.733254,11.068179,0.005002,0.007563,1.0
98,user250_UBE,12.960323,1124.870897,49.092437,13.665150,153.660547,42.117901,16.217563,0.019541,0.021107,0.0
99,user250_UGE,12.735544,21.201723,182.151076,35.077668,116.363697,36.644950,17.643408,0.045246,0.030249,1.0

In [28]:
dfvalmed

,key,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
0,user151_UBE,13.0,14.50,4.20,2.88,16.60,7.0,17.0,0.0,0.0,0.0
1,user151_UGE,17.0,12.50,40.00,4.17,13.00,42.0,15.0,0.0,0.0,1.0
2,user152_UBE,13.0,12.50,16.00,1.31,13.80,28.0,16.0,0.0,0.0,0.0
3,user152_UGE,19.0,18.67,4.25,2.00,12.33,7.0,15.0,0.0,0.0,1.0
4,user153_UBE,14.0,12.40,40.00,4.50,13.00,42.0,15.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95,user198_UGE,13.0,11.00,4.00,3.00,11.00,8.0,15.0,0.0,0.0,1.0
96,user199_UBE,13.0,11.57,37.50,2.33,12.00,40.0,15.0,0.0,0.0,0.0
97,user199_UGE,18.0,8.17,33.00,1.50,9.00,30.0,11.0,0.0,0.0,1.0
98,user200_UBE,17.0,13.75,30.00,2.00,14.00,33.0,14.0,0.0,0.0,0.0
99,user200_UGE,14.0,13.17,38.50,2.50,16.00,37.0,17.0,0.0,0.0,1.0

In [29]:
dfvalmean

,key,hour,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,type
0,user151_UBE,13.188352,20.488289,398.416309,30.940443,1154.844845,18.745824,19.170879,0.033124,0.021625,0.0
1,user151_UGE,14.620186,25.585761,72.377845,42.387051,37.252530,56.695374,20.241127,0.009043,0.021656,1.0
2,user152_UBE,13.006407,59.429349,100.152776,36.199458,87.424763,54.366544,24.435528,0.020498,0.007928,0.0
3,user152_UGE,15.689135,537.657864,21.084394,59.020489,278.835207,15.304345,17.441917,0.011010,0.006524,1.0
4,user153_UBE,13.347528,47.213437,122.859089,113.239020,100.380292,64.803744,22.066147,0.017686,0.010337,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95,user198_UGE,12.386886,89.171599,62.741850,190.427022,103.737562,21.598636,18.472357,0.019079,0.015300,1.0
96,user199_UBE,13.452882,24.338322,122.334716,103.197511,60.258498,55.723875,18.792972,0.014737,0.018921,0.0
97,user199_UGE,16.277983,23.390064,71.973533,39.054781,33.684640,53.332270,16.145099,0.007749,0.003494,1.0
98,user200_UBE,15.176811,49.384268,201.823863,212.364188,76.296187,78.242100,22.807205,0.026911,0.017409,0.0
99,user200_UGE,13.212225,121.113469,152.798605,40.860422,126.573865,69.407324,19.941641,0.013285,0.043938,1.0

# Aggregating train, val and test data hourly(separately for individual users)  based on mean

In [30]:
dftrain

,day,hour,specifictime,indicator1,indicator2,indicator3,indicator4,indicator5,indicator6,indicator7,indicator8,id,type,key
0,2021-06-10,18,2021-06-10 18:14:59,46.0,910.5,3.50,47.67,48.0,52.0,0.2745,0.0750,1,1,user1_UGE
1,2021-06-10,18,2021-06-10 18:14:59,0.0,0.0,0.00,0.00,0.0,0.0,0.0000,0.4286,1,1,user1_UGE
2,2021-06-10,18,2021-06-10 18:19:59,5.0,6.0,2.67,4.67,0.0,4.0,0.0000,0.0000,1,1,user1_UGE
3,2021-06-10,18,2021-06-10 18:19:59,46.0,1971.0,7.33,46.00,7.0,46.0,0.1000,0.0000,1,1,user1_UGE
4,2021-06-10,18,2021-06-10 18:24:59,25.0,3.0,9.00,25.00,3.0,48.0,0.0000,0.0000,1,1,user1_UGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,2021-06-16,23,2021-06-16 23:39:59,0.0,0.0,0.00,0.00,185.0,24.0,0.0000,0.0000,99,0,user99_UBE
3521,2021-06-16,23,2021-06-16 23:44:59,0.0,0.0,0.00,0.00,233.0,27.0,0.0000,0.0000,99,0,user99_UBE
3522,2021-06-16,23,2021-06-16 23:49:59,0.0,0.0,0.00,0.00,223.0,30.0,0.0000,0.0000,99,0,user99_UBE
3523,2021-06-16,23,2021-06-16 23:54:59,0.0,0.0,0.00,0.00,289.0,24.0,0.0000,0.0000,99,0,user99_UBE
3524,2021-06-16,23,2021-06-16 23:59:59,0.0,0.0,0.00,0.00,228.0,25.0,0.1250,0.0000,99,0,user99_UBE

In [31]:
dftrain1h=dftrain.groupby(["day","key","hour"]).mean()
dftrain1h

                             indicator1  indicator2  indicator3  indicator4  \
day        key         hour
2021-06-10 user100_UBE 18     46.245455   71.513732  254.137321  100.675167
                       19    111.112256  106.410677  105.089098  110.647068
                       20     63.457701   29.251379   13.498161   50.770862
                       21     88.535909   49.154481   24.259481  305.421753
                       22     93.478171  284.144512   47.482378   89.491768
...                                 ...         ...         ...         ...
2021-06-16 user9_UGE   19     23.955446  151.385545   73.113663   28.113762
                       20     42.593935  147.331204  131.102269   32.196296
                       21    217.090124  301.712484   96.520497   86.756273
                       22     14.101000  190.771400  116.789600   14.848000
                       23      4.000000    1.000000    0.833333    3.166667

                             indicator5  indicator6  indicator7  indicator8  \
day        key         hour
2021-06-10 user100_UBE 18     51.894737   26.095694    0.021686    0.015222
                       19     57.203008   32.601504    0.019332    0.009380
                       20     27.574713   35.948276    0.019260    0.008230
                       21     49.311688   50.629870    0.019095    0.016176
                       22     31.390244   37.432927    0.009340    0.009599
...                                 ...         ...         ...         ...
2021-06-16 user9_UGE   19     82.930693   23.128713    0.020423    0.020891
                       20     83.916667   35.078704    0.020898    0.016570
                       21    146.298137   46.105590    0.024200    0.011257
                       22     66.660000   15.940000    0.021652    0.010544
                       23      0.833333    3.166667    0.000000    0.000000

                             type
day        key         hour
2021-06-10 user100_UBE 18     0.0
                       19     0.0
                       20     0.0
                       21     0.0
                       22     0.0
...                           ...
2021-06-16 user9_UGE   19     1.0
                       20     1.0
                       21     1.0
                       22     1.0
                       23     1.0

[42535 rows x 9 columns]

In [32]:
dftrain_nooutlier1h=dftrain_nooutlier.groupby(["day","key","hour"]).mean()
dftrain_nooutlier1h

                             indicator1  indicator2  indicator3  indicator4  \
day        key         hour
2021-06-10 user100_UBE 18     17.651659   55.105385   20.308971   19.632400
                       19     21.451628   56.895954   25.407422   23.512258
                       20     17.780732   18.559191   13.498161   20.022201
                       21     19.041406   49.154481   24.259481   23.877540
                       22     19.169379   56.950513   29.225617   21.026345
...                                 ...         ...         ...         ...
2021-06-16 user9_UGE   19     15.806300  151.385545   34.703093   16.914900
                       20     18.651111   96.014340   27.495468   17.311232
                       21     18.082774  265.350063   33.150584   16.848671
                       22     14.101000  190.771400   12.483261   14.848000
                       23      4.000000    1.000000    0.833333    3.166667

                             indicator5  indicator6  indicator7  indicator8  \
day        key         hour
2021-06-10 user100_UBE 18     51.894737   20.177340    0.021686    0.005173
                       19     27.781250   20.752000    0.019332    0.003279
                       20     27.574713   20.198758    0.019260    0.008230
                       21     38.263158   22.257812    0.019095    0.016176
                       22     31.390244   18.958904    0.009340    0.004577
...                                 ...         ...         ...         ...
2021-06-16 user9_UGE   19     67.515152   18.777778    0.020423    0.009004
                       20     66.364929   18.632353    0.019134    0.007056
                       21     89.416107   18.580000    0.024200    0.011257
                       22     66.660000   15.940000    0.021652    0.010544
                       23      0.833333    3.166667    0.000000    0.000000

                             type
day        key         hour
2021-06-10 user100_UBE 18     0.0
                       19     0.0
                       20     0.0
                       21     0.0
                       22     0.0
...                           ...
2021-06-16 user9_UGE   19     1.0
                       20     1.0
                       21     1.0
                       22     1.0
                       23     1.0

[42535 rows x 9 columns]

In [33]:
dftrain_nooutlier1h.columns

Index(['indicator1', 'indicator2', 'indicator3', 'indicator4', 'indicator5',
       'indicator6', 'indicator7', 'indicator8', 'type'],
      dtype='object')

In [34]:
dftest1h=dftest.groupby(["day","key","hour"]).mean()
dftest1h

                             indicator1  indicator2  indicator3  indicator4  \
day        key         hour
2021-06-10 user201_UBE 18     17.721882  145.134824   54.587294  294.381529
                       19     16.295077  184.037231   17.799231   26.804923
                       20     18.155904  124.053614   50.743494   18.194699
                       21     19.906044  154.981978  419.545714   19.762527
                       22    138.265778  187.803778   57.494889   66.492444
...                                 ...         ...         ...         ...
2021-06-16 user250_UGE 18     14.804144   24.767838    8.983063   21.548198
                       19     13.684500   84.724375   11.589250   89.063625
                       20     14.383250   85.587250   19.204250  390.041750
                       21     13.703125   45.164062    8.671875   24.273438
                       22     15.847419  490.328065    7.700968   16.988710

                             indicator5  indicator6  indicator7  indicator8  \
day        key         hour
2021-06-10 user201_UBE 18     93.070588   30.811765    0.022636    0.031281
                       19    100.030769   32.307692    0.023146    0.014411
                       20     97.674699   34.578313    0.008961    0.011747
                       21     97.868132   34.989011    0.006527    0.004580
                       22    139.266667   18.977778    0.028240    0.003533
...                                 ...         ...         ...         ...
2021-06-16 user250_UGE 18     18.702703   17.027027    0.019305    0.018286
                       19     26.975000   17.675000    0.034080    0.022884
                       20     22.175000   15.425000    0.078918    0.076143
                       21     32.062500   15.125000    0.059844    0.074688
                       22     64.258065   16.709677    0.033745    0.054874

                             type
day        key         hour
2021-06-10 user201_UBE 18     0.0
                       19     0.0
                       20     0.0
                       21     0.0
                       22     0.0
...                           ...
2021-06-16 user250_UGE 18     1.0
                       19     1.0
                       20     1.0
                       21     1.0
                       22     1.0

[13909 rows x 9 columns]

In [35]:
dfval1h=dfval.groupby(["day","key","hour"]).mean()
dfval1h

                             indicator1  indicator2  indicator3  indicator4  \
day        key         hour
2021-06-10 user151_UBE 18     11.734687    8.183906   10.601875   25.289687
                       19     19.256220    8.639146    5.209878   19.854878
                       20     80.427813    4.435156    7.305156   18.413750
                       21     18.717836    5.484254    7.987388  882.017836
                       22     31.594421    6.036737    9.814947   19.997158
...                                 ...         ...         ...         ...
2021-06-16 user200_UGE 19    100.182500  215.166167  147.652667   39.846167
                       20    244.823617  286.224681    6.702979   45.600851
                       21    142.233939  243.511212    8.315758   79.947273
                       22     91.336543   33.895926    4.354815   39.926296
                       23    144.602949   24.177564    4.110000  158.919103

                             indicator5  indicator6  indicator7  indicator8  \
day        key         hour
2021-06-10 user151_UBE 18     25.359375   14.859375    0.018527    0.000000
                       19     20.987805   19.719512    0.002122    0.000221
                       20     14.250000   19.187500    0.002019    0.007642
                       21     11.985075   21.843284    0.002549    0.004718
                       22      9.915789   22.263158    0.000297    0.003936
...                                 ...         ...         ...         ...
2021-06-16 user200_UGE 19     67.566667   18.366667    0.034288    0.044033
                       20    101.191489   25.808511    0.023687    0.011453
                       21    167.181818   27.060606    0.030224    0.024061
                       22     24.888889   22.592593    0.004899    0.049247
                       23     21.410256   18.974359    0.006562    0.059600

                             type
day        key         hour
2021-06-10 user151_UBE 18     0.0
                       19     0.0
                       20     0.0
                       21     0.0
                       22     0.0
...                           ...
2021-06-16 user200_UGE 19     1.0
                       20     1.0
                       21     1.0
                       22     1.0
                       23     1.0

[14262 rows x 9 columns]

In [38]:
# dftrain=pd.to_csv("train.csv")       
# dftest=pd.to_csv("test.csv")   
# dfval=pd.to_csv("val.csv")
# dftrain_nooutlier=pd.to_csv("train_nooutlier.csv")
# dftrainmed=pd.to_csv("trainmed.csv")
# dftestmed=pd.to_csv("testmed.csv")
# dfvalmed=pd.to_csv("valmed.csv")
# dftrainmean=pd.to_csv("trainmea.csv")
# dftestmean=pd.to_csv("testmean.csv")
# dfvalmean=pd.to_csv("valmean.csv")
# dftrain1h=pd.to_csv("train1h.csv")
# dftrain_nooutlier1h=pd.to_csv("train_nooutlier1h.csv")
# dftest1h=pd.to_csv("test1h.csv")
# dfval1h=pd.to_csv("val1h.csv")

In [39]:
# dftrain=dftrain.to_csv("train.csv")       
# dftest=dftest.to_csv("test.csv")   
# dfval=dfval.to_csv("val.csv")
# dftrain_nooutlier=dftrain_nooutlier.to_csv("train_nooutlier.csv")

dftrain_nooutlier.to_parquet('train_nooutlier.parquet',compression='brotli')
dftrainmed.to_csv("trainmed.csv",index=False)
dftestmed.to_csv("testmed.csv",index=False)
dfvalmed.to_csv("valmed.csv",index=False)
dftrainmean.to_csv("trainmea.csv",index=False)
dftestmean.to_csv("testmean.csv",index=False)
dfvalmean.to_csv("valmean.csv",index=False)
dftrain1h.to_csv("train1h.csv",index=False)
dftrain_nooutlier1h.to_csv("train_nooutlier1h.csv",index=False)
dftest1h.to_csv("test1h.csv",index=False)
dfval1h.to_csv("val1h.csv",index=False)

In [ ]:
dftrain_nooutlier